.footer {
    height: 130px;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left, .right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    align-items: center;
  }
  
  .socialMedia svg {
    color: white;
    margin: 0 15px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .title {
    color: white;
    text-align: center;
  }
  
  .email {
    margin: 2px;
    color: white;
  }

  .footer p {
    color: white;
  }
  
  
  @media only screen and (max-width: 768px) {
    .socialMedia svg {
      margin: 5px;
      font-size: 20px;
    }

    .email {
      font-size: 14px;
    }

    .title {
      font-size: 18px;
    }
  }