.navbar__wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    height: 110px;
    background: white;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .logo__container {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    margin-left: 50px;
  }

  .logo__container-img {
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  }

  .logo__container-name {
    width: 100px;
    margin: 30px;
    color: #333;
    font-weight: bold;
  }

  .links__container {
    width: 50%; 
    height: 100%;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-end;
    color: #333;
    margin-right: 50px;
    text-align: right; 
  }
  
  .navbar__wrapper a {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;  
    margin: 30px;
  }

  .navbar__wrapper a:hover {
    cursor: pointer;
    color: #777;
  }

  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton .btn {
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links__container {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    transform: translateX(calc(100% - 200px));
    position: absolute;
    top: 0; /* Adjust the top position to avoid overlapping the navbar */
    right: 0;
    width: 200px;
    height: 37%; /* Adjust the height to fill available space */
    background-color: white;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 992px) {
    .navbar__wrapper a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .toggleButton {
      display: flex;
    }

    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .toggleButton {
      display: none;
      margin: 0;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links__container {
      flex-direction: row;
    }
  }